WebPassword/Connected Services/WSPassword/WebServicePassword.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerarPasswordFacilRecordar">
        <s:complexType />
      </s:element>
      <s:element name="GenerarPasswordFacilRecordarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarPasswordFacilRecordarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="longitud" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numeros" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="simbolos" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistroUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clienteRegistro" type="tns:ClienteDTO" />
            <s:element minOccurs="0" maxOccurs="1" name="comprobacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClienteDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistroUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistroUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccesoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccesoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccesoUsuarioResult" type="tns:ClienteDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:ClienteDTO" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordActual" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordActual" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="RegistroPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="passwordRegistro" type="tns:PasswordDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PasswordDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPassword" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistroPasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="AccesoPasswords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccesoPasswordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccesoPasswordsResult" type="tns:ArrayOfPasswordDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPasswordDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PasswordDTO" nillable="true" type="tns:PasswordDTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="EditarPasword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="passwordEdit" type="tns:PasswordDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarPaswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordActual" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarPasswordResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarPasswordFacilRecordarSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPasswordFacilRecordar" />
  </wsdl:message>
  <wsdl:message name="GenerarPasswordFacilRecordarSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPasswordFacilRecordarResponse" />
  </wsdl:message>
  <wsdl:message name="GenerarPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPassword" />
  </wsdl:message>
  <wsdl:message name="GenerarPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="RegistroUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistroUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistroUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AccesoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AccesoUsuario" />
  </wsdl:message>
  <wsdl:message name="AccesoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AccesoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EditarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="EditarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RegistroPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:RegistroPassword" />
  </wsdl:message>
  <wsdl:message name="RegistroPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AccesoPasswordsSoapIn">
    <wsdl:part name="parameters" element="tns:AccesoPasswords" />
  </wsdl:message>
  <wsdl:message name="AccesoPasswordsSoapOut">
    <wsdl:part name="parameters" element="tns:AccesoPasswordsResponse" />
  </wsdl:message>
  <wsdl:message name="EditarPaswordSoapIn">
    <wsdl:part name="parameters" element="tns:EditarPasword" />
  </wsdl:message>
  <wsdl:message name="EditarPaswordSoapOut">
    <wsdl:part name="parameters" element="tns:EditarPaswordResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarPassword" />
  </wsdl:message>
  <wsdl:message name="EliminarPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePasswordSoap">
    <wsdl:operation name="GenerarPasswordFacilRecordar">
      <wsdl:input message="tns:GenerarPasswordFacilRecordarSoapIn" />
      <wsdl:output message="tns:GenerarPasswordFacilRecordarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarPassword">
      <wsdl:input message="tns:GenerarPasswordSoapIn" />
      <wsdl:output message="tns:GenerarPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <wsdl:input message="tns:RegistroUsuarioSoapIn" />
      <wsdl:output message="tns:RegistroUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccesoUsuario">
      <wsdl:input message="tns:AccesoUsuarioSoapIn" />
      <wsdl:output message="tns:AccesoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input message="tns:EditarUsuarioSoapIn" />
      <wsdl:output message="tns:EditarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input message="tns:EliminarUsuarioSoapIn" />
      <wsdl:output message="tns:EliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistroPassword">
      <wsdl:input message="tns:RegistroPasswordSoapIn" />
      <wsdl:output message="tns:RegistroPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccesoPasswords">
      <wsdl:input message="tns:AccesoPasswordsSoapIn" />
      <wsdl:output message="tns:AccesoPasswordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditarPasword">
      <wsdl:input message="tns:EditarPaswordSoapIn" />
      <wsdl:output message="tns:EditarPaswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPassword">
      <wsdl:input message="tns:EliminarPasswordSoapIn" />
      <wsdl:output message="tns:EliminarPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePasswordSoap" type="tns:WebServicePasswordSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPasswordFacilRecordar">
      <soap:operation soapAction="http://tempuri.org/GenerarPasswordFacilRecordar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPassword">
      <soap:operation soapAction="http://tempuri.org/GenerarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <soap:operation soapAction="http://tempuri.org/RegistroUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccesoUsuario">
      <soap:operation soapAction="http://tempuri.org/AccesoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroPassword">
      <soap:operation soapAction="http://tempuri.org/RegistroPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccesoPasswords">
      <soap:operation soapAction="http://tempuri.org/AccesoPasswords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarPasword">
      <soap:operation soapAction="http://tempuri.org/EditarPasword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPassword">
      <soap:operation soapAction="http://tempuri.org/EliminarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePasswordSoap12" type="tns:WebServicePasswordSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPasswordFacilRecordar">
      <soap12:operation soapAction="http://tempuri.org/GenerarPasswordFacilRecordar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPassword">
      <soap12:operation soapAction="http://tempuri.org/GenerarPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <soap12:operation soapAction="http://tempuri.org/RegistroUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccesoUsuario">
      <soap12:operation soapAction="http://tempuri.org/AccesoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap12:operation soapAction="http://tempuri.org/EditarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroPassword">
      <soap12:operation soapAction="http://tempuri.org/RegistroPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccesoPasswords">
      <soap12:operation soapAction="http://tempuri.org/AccesoPasswords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarPasword">
      <soap12:operation soapAction="http://tempuri.org/EditarPasword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPassword">
      <soap12:operation soapAction="http://tempuri.org/EliminarPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePassword">
    <wsdl:port name="WebServicePasswordSoap" binding="tns:WebServicePasswordSoap">
      <soap:address location="https://localhost:44308/WebServicePassword.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePasswordSoap12" binding="tns:WebServicePasswordSoap12">
      <soap12:address location="https://localhost:44308/WebServicePassword.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>